# MySQL Database Configuration
DB_NAME=crm
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=your_db_host
DB_PORT=your_db_port

# Redis Configuration
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port

# RabbitMQ Configuration
RABBITMQ_HOST=your_rabbitmq_host
RABBITMQ_PORT=your_rabbitmq_port

# Django Secret Key
DJANGO_SECRET_KEY=your_django_secret_key
